{namespace Tradebook.Templates}

/**
 * Menu page
 * @param countries listing of countries
 */
{template .menu}
  <div data-role='header'>
    <h1>Blah</h1>
  </div>
  <div data-role='content'>
    
    hello world!
    {foreach $country in $countries}
      {call .front_icon data="$country" /}
    {/foreach}
  </div>
{/template}


/**
 * Icon
 * @param name country name
 */
{template .front_icon}
  <a class='icon' href=''>{$name}</a>
{/template}